@media (min-width: 1280px) {
  header {
    background-color: white;
  }
  header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .menu-toggle {
    display: none;
  }
  .logo {
    width: max-content;
  }
  .menu {
    position: static;
    width: max-content;
    padding: 0;
    background-color: transparent;
  }
  .menu > ul {
    width: max-content;
    flex-flow: row;
  }
  /*
















*/
  div#Home {
    padding: 150px 60px 310px 60px;
  }
  div#Home > .presentation {
    background-color: #fff;
    box-shadow: 0px 0px 100px 90px rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: max-content;
    margin: 40px 0 0 80px;
  }
  div#Home > .presentation > p {
    width: max-content;
    font-size: 36px;
    text-align: end;
  }
  div#Home > .presentation > a {
    width: max-content;
    margin: 25px 0;
    background-color: #446dff;
    border: 1px lightgray solid;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
  }

  div#Plans {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 100px 0;
  }
  div#Plans > div.card {
    display: flex;
    flex-flow: column;
    gap: 20px;
    background-color: #446dff;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
  }
  div#Plans > div.card > h3 {
    font-weight: bolder;
    color: #fff;
    font-size: 24px;
  }
  div#Plans > div.card > p {
    font-weight: bolder;
    margin-bottom: 15px;
    color: #fff;
    font-size: 32px;
    text-align: center;
  }

  div#Plans > div.card > div {
    display: flex;
    flex-flow: column;
    gap: 10px;
    font-size: 14px;
    color: #142255;
    background-color: aliceblue;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: end;
  }

  div#FaQs {
    display: flex;
    justify-content: center;
    padding: 100px 0;
  }
  div#FaQs > div.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 20px;
    width: 900px;
  }
  div#FaQs > div.container > h2 {
    margin: 20px 0;
    text-align: end;
  }
  div#FaQs > div.container > h2 > span {
    font-size: 16px;
  }
  div#FaQs > div.container > div.faq {
    display: flex;
    justify-content: space-between;
    background-color: #142255;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;
    padding: 15px;
    width: 100%;
  }
  div#FaQs > div.container > div.faq > p {
    margin-left: 20px;
  }
  div#FaQs > div.container > div.faq > button {
    cursor: pointer;
    width: 32px;
    border: none;
    background: transparent;
    color: #fff;
  }

  div#Contacts {
    padding: 100px;

    display: flex;
  }
  div#Contacts > h2 {
    padding: 10px 30px;
    text-align: end;
  }
  div#Contacts > form {
    display: flex;
    gap: 20px;
    width: 50%;
    flex-flow: column;
    font-size: 16px;
  }
  div#Contacts > form > input {
    font-size: inherit;
    padding: 8px 15px;
    border-radius: 7px;
    border: 1px lightgray solid;
  }
  div#Contacts > form > div {
    display: flex;
    gap: 30px;
  }
  div#Contacts > form > select {
    font-size: inherit;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 7px;
    border: 1px lightgray solid;
  }
  div#Contacts > form > textarea {
    font-size: inherit;
    resize: none;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 7px;
    border: 1px lightgray solid;
  }
  div#Contacts > form > button {
    font-size: inherit;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px lightgray solid;
    color: #fff;
    border-radius: 7px;
    font-weight: bold;
    background-color: #446dff;
  }

  footer {
    display: flex;
    justify-content: center;
  }
  footer > div {
    padding: 40px;
    display: flex;
    gap: 20px;
    width: max-content;
  }
}
